
:root {
  --matter-primary-rgb: 237, 20, 91;
  --matter-secondary-rgb: 26, 115, 232;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decoration {
  width: 218px;
  height: 204px;
}

.container {
  max-width: 740px;
  width: 100%;
  padding: 50px;
  margin: auto;
}

.form {
  background: #FFFFFF;
  padding: 45px;
  border: #dddddd 1px solid;
  border-radius: 8px;
}

.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-title {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.form-title > label {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.form-title > span {
  color: grey;
  font-size: 16px;
  font-weight: 600;
}

.error-info {
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #e2e5e7;
  font-size: 14px;
}

.error {
  font-weight: bold;
  color: #EF3B3A;
  text-align: center;
}

a, a:hover, a:focus {
  text-decoration: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}


.logo {
  max-width: 28px;
  margin-right: 16px;
  margin-bottom: 10px;
}

.logo-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.error_description:before {
  content: "" !important;
}

.footer-buttons {
  list-style: none;
  margin: 8px -16px;
  padding: 0;
  font-size: 12px;
  justify-content: flex-end;
  display: flex;
}

.footer-buttons li {
  display: inline-block;
  margin: 0;
}

.footer-buttons a {
  border-radius: 2px;
  font-weight: 600;
  color: #909090;
  display: inline-block;
  margin-top: -6px;
  padding: 6px 16px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.matter-progress-linear {
  width: 100%;
}

.progress {
  overflow: hidden;
  display: flex;
  margin-right: -45px;
  margin-left: -45px;
  margin-top: -45px;
  margin-bottom: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.input-helper {
  display: flex;
  align-items: center;
  margin: 4px 10px;
  line-height: 1.1;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.error {
  display: flex;
  text-align: start;
  color: rgb(217, 48, 37);
}

@media (max-width: 760px) {
  body,
  html {
    background-color: #ffffff;
  }
  .decoration {
    display: none;
  }

  .mdl-layout.mdl-js-layout {
    background-color: #ffffff !important;
  }

  .progress {
    margin-right: -25px;
    margin-left: -25px;
    margin-top: -25px;
    margin-bottom: 20px;
  }

  .form {
    border: none;
    flex: 1;
    padding: 25px;
  }

  .footer-buttons {
    margin: 8px;
  }

  .container {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
}

.matter-checkbox > span {
  margin-top: 2px;
  font-size: 14px;
}

.matter-textfield-outlined {
  font-size: 14px;
  width: 100%;
}

.matter-textfield-outlined > input,
.matter-textfield-outlined > textarea {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.2);
  padding: 5px 8px 5px;
  border-top-color: transparent;
}

.matter-textfield-outlined > input + span,
.matter-textfield-outlined > textarea + span {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.2);
}

.matter-textfield-outlined > input + span::before,
.matter-textfield-outlined > input + span::after,
.matter-textfield-outlined > textarea + span::before,
.matter-textfield-outlined > textarea + span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.2);
}

.matter-textfield-outlined > input:not(:focus):placeholder-shown,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.2);
}

.matter-textfield-outlined > input:not(:focus):placeholder-shown + span,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
  line-height: 46px;
}
